<app-header></app-header>
<div class="container"> 
    <div class="row">      
      <!--NavBar-->
      <scpd-navbar></scpd-navbar>
      <!-- conteudo -->
      <div class="conteudo col-md-12" style="min-height: 580px; padding-bottom: 60px">
        
        <section class="col-md-12 margin-top-section">
          <h4>Home</h4>
        </section>

        <div class="container">
          <div class="col-md-11 center-block pull-md-none margin-top-corpo">
            <!-- Corpo -->
            <!-- <p>{{message}}</p>-->            
            <p>O Sistema permite a inserção e a remoção de solicitações na tabela CPD_SOLIC.</p>
            
          </div> 
        </div>

         
                 
      </div>      
  
    <!-- Rodape -->
    <cea-footer></cea-footer>
  
    </div>
  </div>
  <!-- /.container -->