<app-header></app-header>
<div class="container">
    <div class="row">              
      
      <!--NavBar-->
      <scpd-navbar></scpd-navbar>
      <!-- conteudo -->      

      <div class="conteudo col-md-12" style="min-height: 580px; padding-bottom: 60px">
        
        <section class="col-md-12 margin-top-section">
          <h4>Solicitação</h4>
        </section>

        <div class="container">
            <div class="col-md-12 center-block pull-md-none margin-top-corpo">        
                <div class="form-row align-items-center"> 
                <div class="col-auto">
                    <button class="btn btn-primary mb-2" (click)="criarSolicitacao()">Inserir</button> 
                </div>
                
                <div class="col-auto">
                    <button class="btn btn-primary mb-2" (click)="removerSolicitacao()">Deletar</button> 
                </div>
                </div>                      
            </div>
    
        </div> 
        <hr class="my-4">
        <div class="container">
          <section>
          <div class="col-md-11 center-block pull-md-none margin-top-corpo margin-bottom-corpo">            
            <form>
              <div class="form-row align-items-center">                 
                <div class="col-auto">
                  <label class="sr-only" for="protocolo">Protocolo</label>
                  <input type="text" class="form-control mb-2" id="protocolo" placeholder="protocolo">
                </div>              
                <div class="col-auto">
                  <button (click)="buscarAfastamento()" class="btn btn-primary mb-2">Pesquisar</button>
                </div>
              </div>
            </form>
          </div> 
          </section>
          <section>
            <div>

              <p-table #dt1 [value]="solicitacoes" dataKey="id"
              [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
              [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 35px;">#</th>                        
                        <th>Protocolo</th> 
                        <th>Usuario</th>
                        <th>Unidade</th>
                        <th>Nome</th>
                        <th>Sobre Nome</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-solicitacao>
                    <tr>
                      <td>{{solicitacao.id}}</td>
                      <td>{{solicitacao.protocolo}}</td> 
                      <td>{{solicitacao.unidade}}</td> 
                      <td>{{solicitacao.usuario}}</td>
                      <td>{{solicitacao.nome}}</td>
                      <td>{{solicitacao.sobrenome}}</td>                                        
                      
                    </tr>
                </ng-template>
            </p-table>

            </div>
          </section>

        </div>       
         
      </div>
  
    <!-- Rodape -->
    <cea-footer></cea-footer>
  
    </div>
  </div>
  <!-- /.container -->

